/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
	font-size: 0;
}
.header__img {
  width: 100%;
}
.header__link_info {
  font-family: fantasy, cursive;
	font-size: 16px;
}
.header__title {
	display: none;
}

@media (max-width: 768px) {
  .header { 
		text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.task__add {
	padding-top: 16px;
}
.task__item {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task__wrapper {
  display: flex;
	padding-top: 0;
	padding-bottom: 16px;
	border-bottom: none;
}
.tasks__list {
  margin: 0;
  padding: 0px;
}

.task__item,
.btn {
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
.delete{
	padding-top: 2px;
}
/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* input[type="text"]  */
.task__item_add {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
/* input[type="text"]:focus  */
.task__item_add:hover {
  color: #333;
}

/* New Task */
.section__title_new-task {
  display: block;
  margin: 0 0 20px;
}
/* input#new-task  */
.task__item_add {
  width: 318px;
}

/* Task list */
div {
  overflow: hidden;
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div > * {
  vertical-align: middle;
}

div > input[type="checkbox"] {
	height: 13px;
  margin: 1px 10px 0;
}
div > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
div > input[type="text"] {
  width: 226px;
}
.btn__img-del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn__img-del:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks__list#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks__list div input[type=text] {
  display: none;
}

.tasks__list div.edit__mode input[type=text] {
  display: inline-block;
  width: 224px;
	margin-top: 1px;
}

.tasks__list div.edit__mode label {
  display: none;
}